@{
    ViewData["Title"] = "Welcome";
}

<style>
    .center-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        font-size: 32px;
        font-weight: bold;
        color: #2c3e50;
    }
</style>

<div class="center-message">
    Welcome to CATEC
</div>
